<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://wwww.udemy.com"> The Complete Ruby on Rails developer</a>
			by Arif 
		</small>

		<nav>
			<ul>
				<li><%= link_to "About", '#' %></li>
			</ul>
		</nav>
	</footer>
</div>